body{
    background-color: #E6F0FA;
}

.presentacion{
    background-color: #3B82F6;
    color: #FFFFFF;
    font-size: 25px;
    width: 100%;
    height: 300px;
    padding: 10px;
    box-shadow: 0px 8px 10px 0px rgba(0,0,0,0.30);
    border-radius: 4px;

}

.presentacion-title{
    display: flex;
    justify-content: center;
}

.caracteristicas{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 24px;
}


.solveModul{
    display: flex;
}

.num1Modulo{
    padding: 20px;
    margin-right: 15px;
}

.num2Modulo{
    padding: 20px;
    margin-right: 15px;
}